/*Custom scrollbar*/
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 90px 0px 20px 10px;
}
::-webkit-scrollbar-thumb {
  background-color: lighten($primary, 10%);
}
::-webkit-scrollbar-thumb:hover {
  background-color: lighten($primary, 15%);
}

.font-xxl {
  font-size: $base-font-size * 4.5;
}
.font-name {
  font-size: 8vw;
  font-weight: bold;
}
.photoframe {
  border: $base-border-radius * 0.5 dashed $primary;
}
.sectionborder {
  border-bottom: $base-border-radius * 0.5 dashed $primary;
}
.footerborder {
  border-top: $base-border-radius * 0.5 dashed $primary;
}

.logo-div {
  position: relative;
}
.accent-btn {
  cursor: pointer;
  border-radius: 2px;
  padding: $base-padding * 0.5 $base-padding $base-padding;
  &:hover {
    background-color: lighten($primary, 0.9);
  }
  &:active {
    background-color: lighten($primary, 0.4);
  }
  span {
    line-height: $base-font-size * 0.5;
  }

  div {
    display: inline-block;
    position: relative;
    top: 7px;
    left: 10px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 15px;
  }
}
.accent-pallete {
  position: absolute;
  border-radius: 2px;
  overflow: hidden;
  div {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 $base-margin * 0.5;
    &:hover {
      opacity: 0.7;
    }
  }
}

.social-icons {
  img {
    transition: filter 0.3s, transform 0.3s;
    transition-timing-function: ease-out;
    filter: invert(0) drop-shadow(3px 3px 5px transparent);
  }
  &:hover {
    img {
      filter: invert(1) drop-shadow(3px 3px 5px black);
      transform: translate(-2px, -3px);
    }
  }
}

.back-to-top {
  width: 80px;
  height: 60px;
  margin: $base-margin * 2 auto 0;
  img {
    transition: filter 0.3s, transform 0.3s;
    transition-timing-function: ease-out;
    filter: invert(0) drop-shadow(3px 3px 5px transparent);
  }
  p {
    transition: border 0.3s, color 0.3s, transform 0.3s;
  }
  &:hover {
    img {
      height: 30px;
      filter: invert(1) drop-shadow(3px 3px 5px black);
      transform: translate(0px, -5px);
    }
    p {
      color: white;
      transform: translate(0px, -5px);
    }
  }
}